<!DOCTYPE html>
{% do assets.addCss('theme://css/website.css', 100) %}
<html lang="en">
	<head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ assets.css()|raw }}
        {{ assets.js()|raw }}
		<title>{{ header.title|e }} - {{site.title|e}}</title>
	</head>
	<body>
		{% include 'partials/header.html.twig' %}
		<div class="center">
			<div class="content">
				{{ page.content|raw }}
				<ul>
					{% for current_page in page.children %}
						<div>
							<a href="{{ current_page.url|e }}">
								<div>
									{{ current_page.media.images|first|raw }}
									{{ current_page.title|e }}
								</div>
							</a>
						</div>
					{% endfor %}
				</ul>
				{% include 'partials/navigation.html.twig' %}
			</div>
		</div>
		<div class=footer>
			<span title="Last Edited">{{ header.date|e }}</span>
		</div>
	</body>
</html>