<!DOCTYPE html>
{% do assets.addCss('theme://css/website.css', 100) %}
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ assets.css()|raw }}
    	{{ assets.js()|raw }}
        <title>{{site.title|e}}</title>
    </head>
    <body>
        {% include 'partials/header.html.twig' %}
        <div class="center">
            <div class="content">
                {{ page.content|raw }}
            </div>
        </div>
        <div class=footer>
            {# <div class="transparentButton">
                <a href="{{page.header.webring.left}}">
                    <span class="icon">arrow_back</span>
                </a>
                <span>Queso Webring</span>
                <a href="{{page.header.webring.right}}">
                    <span class="icon">arrow_forward</span>
                </a>
            </div> #}
        </div>
    </body>
</html>